body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  letter-spacing: .05em;
  color: #333;
  background-color: #fafafa;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  transition: opacity .3s;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

.en-text {
  font-family: Arial;
}

/* animation */
.animation-fadein {
  opacity: 0;
}

.fadeIn {
  animation-name: fadeinAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeinAnimation {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*--------------------------------
 レイアウト
---------------------------------*/
section {
  padding: 180px 0;
}

article {
  padding: calc(180px + 120px) 0 180px;
}

.skill, .contact {
  background-color: #f1efeb;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 見出し
---------------------------------*/
h2, h6 {
  font-family: 'Gothic A1';
}

h2 {
  font-size: 80px;
  font-weight: 100;
  width: fit-content;
}

h6 {
  font-size: 32px;
  font-weight: 400;
}

.about__heading-text, .contact__heading-text {
  font-size: inherit;
  font-weight: 400;
  color: #9a9a9a;
}

.skill h2, .contact h2 {
  margin: 0 0 0 auto;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  font-family: 'Gothic A1';
}

.header__inner {
  margin-inline: auto;
  padding-inline: 70px;
  padding-block: 64px;
  max-width: 1200px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-size: 24px;
}

.header__logo a {
  color: #333;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 60px;
}

.nav__item a {
  position: relative;
  display: inline-block;
  color: #333;
  font-size: 18px;
  padding: 5px 0;
  transition: .3s;
}
.nav__item a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

.nav__item a:hover::after {
  width: 100%;
}

.hamburger__menu {
  display: none;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv__inner {
  margin-inline: auto;
  padding-inline: 70px;
  max-width: 1200px;
  height: 100vh;
}

.mv__thin-border {
  height: 113px;
  margin-bottom: 37px;
  margin-left: 19%;
  border-left: solid 1px #333;
}

.mv__bold-border {
  height: calc(100vh - 113px - 37px);
  margin-left: 19%;
  border-left: solid 2px #333;
}

.mv__text {
  position: relative;
}

.mv__text img {
  position: absolute;
  bottom: 30%;
  right: 0;
}

/*--------------------------------
 About
---------------------------------*/
.about__inner {
  margin-inline: auto;
  padding-inline: 70px;
  max-width: 1200px;
}

.about__heading {
  position: relative;
}

.about__heading-text {
  margin-bottom: 30px;
}

.about__heading-text::after {
  position: absolute;
  bottom: 5px;
  left: 58px;
  width: 360px;
  height: 1px;
  content: "";
  background-color: #9a9a9a;
}

.about__container {
  margin: 0 100px;
}

.about__container p {
  line-height: 2.5;
}

.about__concept {
  font-family: "Caveat", cursive;
  font-size: 86px !important;
  font-weight: 400;
  margin: 0 auto 70px -20px;
}

.about__name {
  margin: 60px auto 40px;
}

.about__profile {
  margin-bottom: 40px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill__inner {
  margin-inline: auto;
  padding-inline: 70px;
  max-width: 1200px;
}

.skill__container {
  margin: 0 100px 100px;
}

.skill__item {
  border-bottom: solid 1px #333;
}

.skill__item:first-of-type {
  border-top: solid 1px #333;
}

.skill__body {
  margin: 80px auto;
  display: flex;
  align-items: center;
  width: 80%;
}

.skill__img {
  width: 30%;
  margin: auto 70px auto 0;
}

.skill__icon {
  width: fit-content;
  margin: 0 auto 10px auto;
}

.skill__icon img {
  max-height: 80px;
  width: auto;
}

.skill__name {
  width: fit-content;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}

.skill__text {
  flex: 1;
  text-align: justify;
  line-height: 2.5;
}

/*--------------------------------
 Works
---------------------------------*/
.works__inner {
  margin-inline: auto;
  padding-inline: 100px;
  max-width: 1060px;
}

.works__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 55px 2px 0;
}

.works__item {
  color: #333;
  max-width: 48%;
  height: auto;
}

.works__item:nth-child(n+3) {
  margin-top: 60px;
}

.works__img {
  overflow: hidden;
}

.works__img img {
  transition: transform .6s ease;
  max-height: 300px;
}

.works__img:hover img {
  opacity: .8;
  transform: scale(1.04);
}

.works__name {
  margin-top: 10px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact__inner {
  margin-inline: auto;
  padding-inline: 70px;
  max-width: 1200px;
}

.contact__heading {
  position: relative;
}

.contact__heading-text {
  margin-bottom: 30px;
}

.contact__heading-text::after {
  position: absolute;
  bottom: 5px;
  right: 80px;
  width: 90%;
  height: 1px;
  content: "";
  background-color: #9a9a9a;
}

.contact__container {
  margin: 0 100px;
}

.contact__email {
  font-size: 28px;
  width: fit-content;
  margin: 30px 0 0 auto;
  font-weight: 300;
}

/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #fafafa;
}

.works__page-top {
  background-color: #f1efeb;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #333;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #fafafa;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article__inner {
  margin-inline: auto;
  padding-inline: 100px;
  max-width: 1060px;
}

.article__item {
  margin: 0 auto;
  text-align: left;
}

.article__title {
  font-size: 24px;
  margin: 70px auto 30px auto;
  text-align: left;
  font-family: 'Gothic A1';
}

.article__body {
  line-height: 2.5;
}

/*media Queries 768
----------------------------------------------------*/
@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }
  
  section {
    padding: 75px 0 !important;
  }

  article {
    padding: calc(67px + 73px) 0 100px;
  }
  
  .mv__inner, .about__inner, .skill__inner, .works__inner, .contact__inner, .article__inner {
    margin-inline: auto;
    padding-inline: 45px;
    max-width: 480px;
  }

  /*--------------------------------
  見出し
  ---------------------------------*/
  h2 {
    font-size: 40px;
  }

  .about__heading-text, .contact__heading-text {
    font-size: 14px;
  }

  /*--------------------------------
  ヘッダー
  ---------------------------------*/
  .header__inner {
    margin-inline: auto;
    padding-inline: 20px;
    padding-block: 24px;
  }

  .header__logo {
    font-size: 16px;
  }

  .nav__item a {
    font-size: 12px;
  }

  .nav__item a::after {
    display: none;
  }

  .header {
    height: 67px;
  }

  .header__logo {
    font-size: 16px;
  }

  .header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(100%);
    background-color: #333;
    transition: ease .4s;
  }

  .nav__list {
    position: absolute;
    bottom: 0;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 0;
    display: block;
  }

  .nav__item {
    margin: 20px 0 !important;
  }

  .nav__item a {
    color: #fafafa;
    display: block;
    font-size: 20px;
  }

  .nav__item a::after {
    display: none;
  }

  .hamburger__menu {
    display: block;
    width: 25px;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
    z-index: 9999;
  }
  
  .hamburger__menu span {
    width: 100%;
    height: 1px;
    background-color: #333;
    position: relative;
    transition: all .4s;
    display: block;
  }
  
  .hamburger__menu span:nth-child(1) {
    top: 0px; 
    margin-bottom: 8px;
  }
  
  .hamburger__menu span:nth-child(2) {
    top: 0px;
    width: 70%;
  }
  
  .header__nav.active {
    transform: translateY(0);
  }
  
  .hamburger__menu.active span {
    background-color: #fafafa;
  }

  .hamburger__menu.active span:nth-child(1) {
    transform: translateY(1.5px) rotate(-45deg);
    width: 70%;
    margin-bottom: 0;
  }
  
  .hamburger__menu.active span:nth-child(2) {
    transform: translateY(0px) rotate(45deg);
  }

  /*--------------------------------
  メインビジュアル
  ---------------------------------*/
  .mv__inner {
    height: 358px;
  }

  .mv__thin-border {
    height: 55px;
    margin-bottom: 12px;
  }
  
  .mv__bold-border {
    height: calc(358px - 55px - 12px);
  }
  
  .mv__text img {
    padding-left: 50px;
    right: 0;
    float: right;
  }

  /*--------------------------------
  About
  ---------------------------------*/
  .about__heading-text::after {
    left: 52px;
    width: 160px;
  }

  .about__container {
    max-width: 100%;
    margin: 0;
  }

  .about__concept {
    font-size: 55px !important;
    margin: 0 auto 35px -5px;
  }

  .about__concept span:last-child {
    padding-left: 40px;
    display: block;
    margin-top: -15px;
  }

  /*--------------------------------
  Skill
  ---------------------------------*/
  .skill__container {
    margin: 0 auto 50px;
    width: 90%;
  }

  .skill__name {
    font-size: 16px;
  }

  .skill__img {
    width: 100%;
    margin: 0 auto 20px auto;
  }
  
  .skill__text {
    line-height: 1.875;
  }

  .skill__body {
    display: block;
    margin: 40px auto;
    width: 85%;
  }
  /*--------------------------------
  Works
  ---------------------------------*/
  .works .container {
    display: block;
    padding: 0;
  }

  .works__container {
    display: block;
    margin: 25px 2px 0;
  }

  .works__item {
    display: block;
    max-width: 100%;
  }

  .works__item:nth-child(n+2) {
    margin-top: 40px;
  }

  /*--------------------------------
  Contact
  ---------------------------------*/
  .contact__heading-text::after {
    right: 72px;
    width: 70%
  }

  .contact__container {
    margin: 0;
  }

  .contact__email {
    font-size: 20px;
    margin: 6px 0 0 auto;
  }
  
  /*--------------------------------
  下層：Worksページ
  ---------------------------------*/
  .article__title {
    font-size: 20px;
    margin: 20px auto 30px auto;
  }
}
