body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  letter-spacing: .05em;
  color: #333;
  background-color: #fafafa;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  transition: opacity .3s;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

h2, h6 {
  font-family: 'Gothic A1';
}

h2 {
  font-size: 80px;
  font-weight: 100;
}

h6 {
  font-size: 32px;
  font-weight: 400;
}

.en-text {
  font-family: Arial;
}

/*--------------------------------
 レイアウト
---------------------------------*/
section {
  padding: 180px 70px;
}

.article {
  padding: calc(180px + 30px) 70px 180px;
}

.contact-section {
  padding-bottom: 100px;
}

.skill-section, .contact-section {
  background-color: #f1efeb;
}

.skill-section, .contact-section, .page-top, .footer {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  padding-right: calc(50vw - 50%);
  padding-left: calc(50vw - 50%);
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 見出し
---------------------------------*/
.title-name {
  width: fit-content;
  color: #333;
  letter-spacing: -0.01em;
}

.skill-section .title-name, .contact-section .title-name {
  margin: 0 70px 0 auto;
}

hr {
  size: 1px;
  color: #333;
  width: 0;
  margin: auto auto 110px 100px;
  transition: width 1s;
  &.is-animated {
    width: 40%;
  }
}

.contact-section hr {
  margin: 0 170px 80px auto;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  max-width: inherit;
  height: 150px;
  margin: 0 auto;
  background-color: transparent;
  font-family: 'Gothic A1';
}

.header .container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.header-logo {
  font-size: 24px;
}

.header-logo a {
  color: #333;
}

.gnav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.gnav-item:not(:last-child) {
  margin-right: 30px;
}

.gnav-item a {
  position: relative;
  display: inline-block;
  color: #333;
  font-size: 18px;
  padding: 5px 0;
  transition: .3s;
}
.gnav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

.gnav-item a:hover:after {
  width: 100%;
}

.hamburger {
  display: none;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv-container {
  width: auto;
  height: 100vh;
}

.mv-container .thin-border {
  height: 120px;
  margin-bottom: 30px;
  margin-left: 20%;
  border-left: solid 1px #333;
}

.mv-container .bold-border {
  height: calc(100vh - 150px);
  margin-left: 20%;
  border-left: solid 2px #333;
}

.mv-container img {
  padding-top: calc(30vh);
  padding-right: 70px;
  float: right;
}

/*--------------------------------
 About
---------------------------------*/
.about-body {
  max-width: 70%;
  margin: 0 auto 0 100px;
}

.about-body p {
  line-height: 3.75;
}

.concept {
  font-family: "Caveat", cursive;
  font-size: 86px !important;
  font-weight: 400;
  margin: 0 auto 30px -20px;
}

.profile-body p {
  line-height: 2.5;
}

.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

.name {
  margin: 60px auto 40px;
}


/*--------------------------------
 Skill
---------------------------------*/
.skill-list {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 170px;
}


.skill-item {
  border-bottom: solid 1px #333;
}

.skill-item:first-of-type {
  border-top: solid 1px #333;
}

.skill-body {
  margin: 80px auto;
  display: flex;
  align-items: center;
  width: 80%;
}

.skill-img {
  width: 30%;
  margin: auto 70px auto 0;
}

.skill-icon {
  width: fit-content;
  margin: 0 auto 10px auto;
}

.skill-icon img {
  max-height: 80px;
  width: auto;
}

.skill-name {
  width: fit-content;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}

.skill-text {
  flex: 1;
  text-align: justify;
  line-height: 2.5;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 80px 100px 0 100px;
}

.works-item {
  color: #333;
  max-width: 48%;
  height: auto;
}

.works-item:nth-child(n+3) {
  margin-top: 60px;
}

.works-img {
  overflow: hidden;
}

.works-img img {
  transition: transform .6s ease;
}

.works-img:hover img {
  opacity: .8;
  transform: scale(1.04);
}

.works-name {
  margin-top: 10px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact-list {
  width: fit-content;
  margin: 0 170px 0 auto;
}

.lead {
  line-height: 2;
  margin-bottom: 10px;
}

/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #fafafa;
}

.works-page-top {
  background-color: #f1efeb;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #333;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #fafafa;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article-container {
  margin: 0 100px;
}

.article-item {
  margin: 0 auto;
  text-align: left;
}

.article-title {
  font-size: 24px;
  margin: 70px auto 30px auto;
  text-align: left;
  font-family: 'Gothic A1';
}

.article-body {
  line-height: 2.5;
}


/*media Queries 960
----------------------------------------------------*/
@media screen and (max-width: 960px) {
  .concept {
    font-size: 69px !important;
  }

  .skill-list {
    display: block;
    margin: 0 auto;
    max-width: 70%;
  }
  
  .skill-body {
    display: block;
    margin: 40px auto;
  }
  
  .skill-img {
    width: 100%;
    margin: 0 auto 20px auto;
  }
  
  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }
  
  .skill-icon {
    margin: 0 auto 10px;
  }
  
  .skill-text {
    width: 100%;
  }
}

/*media Queries 768
----------------------------------------------------*/
@media screen and (max-width: 768px) {
  .mv-container img {
    padding-top: calc(20vh);
    padding-right: 45px;
    padding-left: 50px;
    float: right;
  }

  hr {
    margin: auto auto 45px 25px;
    transition: width 1s;
    &.is-animated {
      width: 60%;
    }
  }

/*--------------------------------
ヘッダー
---------------------------------*/
  .header-logo {
    font-size: 20px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 15px;
  }

  .gnav-item a {
    font-size: 12px;
  }

  .gnav-item a:after {
    display: none;
  }

/*--------------------------------
 About
---------------------------------*/
  .profile-body {
    margin-top: 30px;
  }
  
  .name {
    font-size: 25px !important;
  }

/*--------------------------------
 Works
---------------------------------*/
  .works-section .container {
    display: block;
    padding: 0;
  }

  .works-list {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }

  .works-item {
    margin-top: 40px;
    display: block;
    max-width: 100%;
  }

/*--------------------------------
 Contact
---------------------------------*/
  .contact-section .container {
    padding: 0;
  }
  
  .lead {
    line-height: 1.7;
    margin-bottom: 10px;
  }

/*--------------------------------
 下層：Worksページ
---------------------------------*/
  .article-container {
    margin: 0;
  }

  .article-title {
    margin: 20px auto 40px auto;
  }
}

/*media Queries 450
----------------------------------------------------*/
@media screen and (max-width: 450px) {
  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  section {
    padding: 75px 45px !important;
  }

  .header {
    height: 67px;
  }

  .header .container {
    padding: 20px;
  }

  .header-logo {
    font-size: 16px;
  }

  .gnav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(100%);
    background-color: #333;
    transition: ease .4s;
  }

  .gnav-list {
    position: absolute;
    bottom: 0%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 0;
    display: block;
  }

  .gnav-item {
    margin: 20px 0 !important;
  }

  .gnav-item a {
    color: #fafafa;
    display: block;
    font-size: 20px;
  }

  .gnav-item a:after {
    display: none;
  }

  .hamburger {
    display: block;
    width: 25px;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
    z-index: 9999;
  }
  
  .hamburger span {
    width: 100%;
    height: 1px;
    background-color: #333;
    position: relative;
    transition: all .4s;
    display: block;
  }
  
  .hamburger span:nth-child(1) {
    top: 0px; 
    margin-bottom: 8px;
  }
  
  .hamburger span:nth-child(2) {
    top: 0px;
    width: 70%;
  }
  
  .gnav.active {
    transform: translateY(0);
  }
  
  .hamburger.active span {
    background-color: #fafafa;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(1.5px) rotate(-45deg);
    width: 70%;
    margin-bottom: 0;
  }
  
  .hamburger.active span:nth-child(2) {
    transform: translateY(0px) rotate(45deg);
  }

  .mv-container {
    height: 340px;
  }

  .mv-container .thin-border {
    height: 55px;
    margin-bottom: 12px;
    margin-left: 25%;
    border-left: solid 1px #333;
  }
  
  .mv-container .bold-border {
    height: calc(340px - 50px);
    margin-left: 25%;
    border-left: solid 2px #333;
  }
  
  .mv-container img {
    padding-top: calc(20vh);
    padding-right: 45px;
    padding-left: 50px;
    float: right;
  }

  .title-name {
    font-size: 32px !important;
  }

  hr {
    margin: auto auto 40px 0;
  }

  .contact-section hr {
    margin-right: 0;
    margin-left: auto;
  }

  .about-body {
    max-width: 100%;
    margin: 0;
  }

  .about-body p {
    line-height: 2.5;
  }

  .concept {
    font-size: 55px !important;
    margin: 0 auto 30px -5px;
  }

  .skill-section .title-name {
    margin-right: 0;
  }

  .skill-list {
    max-width: 90%;
  }

  .skill-name {
    font-size: 16px;
  }

  .skill-icon img {
    max-height: 60px;
  }
  
  .skill-text {
    line-height: 1.875;
  }

  .skill-body {
    width: 85%;
  }

  .contact-section hr {
    margin: 0 0 38px auto;
  }

  .contact-section .title-name {
    margin-right: 0;
  }

  .contact-list {
    font-size: 14px;
    margin-right: 0;
  }

  /*--------------------------------
 下層：Worksページ
---------------------------------*/
  .article {
    padding: calc(100px + 30px) 45px 100px !important;
  }

  .article-title {
    font-size: 20px;
  }
}
